body{
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url('../Downloaded/3.png');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  height: auto;
}
/*Section1 design starts here */
.section1{
  display: flex;
  justify-content: space-between;
}
.half-width{
  font-weight: 700;
  width: 40%;
  margin-left: 5%;
  padding: 2%;
}
.half-width h1{
  font-size: 45px;
}
.half-width a{
  text-decoration: none;
  font-size: 18px;
  background-color: #e74c3c;
  color: #ecf0f1;
  padding: 10px 20px;
  border-radius: 20px;
  transition: .5s;
  margin-top: 35px;
}
.half-width a:hover{
  background-color:  #2c3e50;
  color: #ecf0f1;
}
.half-width p{
  text-align: justify;
  word-spacing: 4px;
  color: dimgrey;
}
.half-width span{
  color: Blue;
}
.image1{
  width:30%;
  margin-top: 40px;
  margin-right: 40px;
}
/*Section1 design ends here */

/*Section2 design starts here */
.section2{
  display: flex;
  justify-content: flex;
}
.half-width1{
  margin-top: 50px;
  font-weight: 700;
  width: 100%;
  margin-left: 15%;
  padding: 2%;
  background-image: url('../Downloaded/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}
.half-width1 h1{
  font-size: 45px;
}
.half-width1 p{
  text-align: justify;
  color: dimgrey;
  margin-left: 0;
}
.image2{
  width:65%;
  margin-top: 40px;
  margin-left: 10%;
}
.half-width1 a{
  text-decoration: none;
  font-size: 18px;
  background-color: #e74c3c;
  color: #ecf0f1;
  padding: 10px 20px;
  border-radius: 20px;
  transition: .5s;
  margin-top: 35px;
}
.half-width1 a:hover{
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
/*Section2 ends here */

/*Section3 starts here */

.p1{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.d1{
  width: 45%;
  margin-top: 5px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 20px gray;
  border-left: 7px solid;
  border-image: linear-gradient(blue,cyan);
  border-image-slice: 1;
  background-image: url('../Downloaded/exp-bg.png');
  background-repeat: no-repeat;
  background-position: left;
}
.d1 p{
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}
.d1 h2{
  margin-left: 15px;
}
.section3 h1{
  margin-left: 2%;
  margin-top: 5%;
  font-size: 35px;
  font-weight: bold;
  color: blue;
}
